@import '../../vendor/filament/filament/resources/css/app.css';

.fc-event-time {
    display: none;
}
.fc-h-event .fc-event-title-container {
    padding: 0.2em .5em;
}

@tailwind base;

@tailwind components;


@tailwind utilities;

.filament-main-footer {
    display: none;
}
